EXPO_PUBLIC_STOREFRONT_API_BASE_URL=https://www.suyogfashions.com
EXPO_PUBLIC_MOBILE_PUSH_API_BASE_URL=https://www.suyogfashions.com
EXPO_PUBLIC_PRIVACY_POLICY_URL=https://www.suyogfashions.com/privacy-policy
EXPO_PUBLIC_SUPPORT_URL=https://www.suyogfashions.com/contact
EXPO_PUBLIC_SUPPORT_EMAIL=contact@suyogfashions.com
